* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-bg-color: #131517;
    --white-text-primary: #f9f9f9;
}
html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
    background-color: var(--primary-bg-color);
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
.logo {
    width: 87px;
    height: 19px;
}
/* Header */
header {
    margin-top: 40px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list {
    display: flex;
    align-items: center;
    column-gap: 36px;
}
.menu-item {
    font-size: 1.6rem;
    line-height: 1.59;
    color: var(--white-text-primary);
}
.sign-in__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 110px;
    height: 40px;
    background: linear-gradient(90deg, #eb9204 50%, #fff 0%) var(--p, 100%) /
        200% no-repeat;
    height: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #272633;
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: 0.4s;
}
.sign-in__btn:hover {
    --p: 0%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.hero {
    padding-top: 89px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.hero__heading {
    width: 783px;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: #f9f9f9;
    text-align: center;
}
.hightligt {
    background: -webkit-linear-gradient(#eb9204, #83e868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero__balls {
    width: 121px;
    display: flex;
    align-items: center;
    gap: 41px;
    flex-direction: column;
}
.hero__desc {
    display: inline-block;
    margin-top: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #858b93;
}
.hero__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 44px;
}
.hero__cta--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #f9f9f9;
    width: 199px;
    height: 54px;
    background: #282c30;
    box-shadow: 1px 8px 45px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: 0.8s;
}
.hero__cta--btn:hover,
.hero__cta--btn.active {
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}
